
.d-flex {
   
    padding: 260px;
    margin-left: 30px;
}
.btn-sm {

    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: -123px;
}

.container {
    max-width: 2400px;
    margin:0px -6px;
    
  background-color: #FFF1E6;
   
}
.product {
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(10px);
}

.product-inner {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.me-auto {
    margin-left:px;
}
.addtocart{
    margin-left: 1000px;
}
.productImage{
     margin:200px;
}

.add-to-cart-container {
  display: flex;
  justify-content: space-between;
     background-color: #FFF1E6;
     padding:20px;
  
}

.product-details {
  flex: 1;
  margin-right: 20px;
}

.cart-items {
  flex: 1;
  margin-left: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.quantity-buttons {
  margin-bottom: 10px;
}

.quantity-buttons button {
  padding: 5px 10px;
  margin-right: 5px;
  margin-top:10px;  /* background-color: #e0e0e0; */
  border: none;
  cursor: pointer;
}

.add-to-cart-button button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-to-cart-button button:hover {
background-color: #FFF1E6;
}

.total-price {
  margin-top: 20px;
}

.total-price h2 {
  font-size: 25px;
  font-family: italic;
  color: #333;
}
.justify-content-center.row {
    margin-top: -54px;
    position: absolute;
}
.details {
  font-size:20px;
  justify-content: center;
 padding: 301px;
  align-items: center;
    background-color: rgba(13, 110, 253, 0.25);
}
.home{
   margin-left:100px;
  padding: 6px;
}
.addcart{
  margin-left:890px;
  padding: 5px;
}
.navbar{
  padding: 20px;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  margin-bottom: -3px;
}